Pods/
.DS_Store
NewsFeed.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NewsFeed.xcodeproj/project.xcworkspace/xcuserdata/rahul.xcuserdatad/UserInterfaceState.xcuserstate
NewsFeed.xcodeproj/xcuserdata/rahul.xcuserdatad/xcschemes/xcschememanagement.plist
NewsFeed.xcworkspace/contents.xcworkspacedata
NewsFeed.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
NewsFeed.xcworkspace/xcuserdata/rahul.xcuserdatad/IDEFindNavigatorScopes.plist
NewsFeed.xcworkspace/xcuserdata/rahul.xcuserdatad/UserInterfaceState.xcuserstate
NewsFeed.xcworkspace/xcuserdata/rahul.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
